In [1]:
#import library

import pandas as pd
import numpy as np

import spacy

In [2]:
# read data set
df = pd.read_csv("data/concatenated_data.csv")

In [3]:
df.head()

,timestamp,id,name,city,country_code,current_company:company_id,current_company:name,position,followers,about,...,education,avatar,languages,certifications,recommendations,recommendations_count,volunteer_experience,courses,connections,job_role
0,2023-11-06,sheharyar-chaudhary-325b3465,Sheharyar Chaudhary,"Dallas, Texas, United States",US,avantlink,AvantLink,Data Engineer || Google Certified Data Analyst...,2000.0,With over 7 years of extensive hands-on experi...,...,"[{""degree"":""Bachelor of Science (BS)"",""end_yea...",https://static.licdn.com/aero-v1/sc/h/1c5u578i...,"[{""subtitle"":""Full professional proficiency"",""...","[{""meta"":""Issued Jun 2023 See credential"",""sub...",Umer Siddiqui “I had the privilege of working ...,9.0,NaN,NaN,NaN,Data Analysis
1,2023-11-06,byby-louise-a91456243,Byby Louise,"New York, New York, United States",US,fiscalnote,FiscalNote,Data Analyst,112.0,NaN,...,"[{""degree"":""Master's degree"",""end_year"":""2014""...",https://media.licdn.com/dms/image/C4E03AQEYsL5...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analysis
2,2023-11-06,larry-richardson-jr,Larry Richardson Jr.,"Frederick, Maryland, United States",US,ncma,National Contract Management Association (NCMA),Infrastructure as Code | Data Analysis | Data ...,243.0,I caught fire with cloud computing. About eigh...,...,"[{""degree"":""Data Analytics/Engineering"",""meta""...",https://static.licdn.com/aero-v1/sc/h/1c5u578i...,NaN,"[{""meta"":""Issued Sep 2023"",""subtitle"":""Associa...",NaN,NaN,NaN,NaN,NaN,Data Analysis
3,2023-12-13,thomas-roussos,Thomas Roussos,Massapequa,US,NaN,NaN,Student at State University of New York Colleg...,15.0,Hello! My name is Thomas Roussos and I am a st...,...,"[{""end_year"":""2018"",""start_year"":""2014"",""title...",https://media.licdn.com/dms/image/C5603AQGviES...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,Data Analysis
4,2023-12-13,oceanox,XIN OU,NaN,US,transsnetfinancial,Transsnet Financial,Risk Control Data Analyst at Transsnet Financi...,31.0,I am an MBA in Business Analytics student who ...,...,"[{""degree"":""Master of Business Administration ...",https://media.licdn.com/dms/image/C4D03AQEvZ-L...,NaN,NaN,NaN,NaN,NaN,NaN,31.0,Data Analysis

In [4]:
df['job_role'].value_counts()

Data Analysis             1000
Manager                   1000
Project Manager           1000
Research & Development    1000
Software Engineer         1000
UI/UX designer             649
Name: job_role, dtype: int64

In [5]:
df.columns

Index(['timestamp', 'id', 'name', 'city', 'country_code',
       'current_company:company_id', 'current_company:name', 'position',
       'followers', 'about', 'posts', 'groups', 'current_company',
       'experience', 'url', 'people_also_viewed', 'educations_details',
       'education', 'avatar', 'languages', 'certifications', 'recommendations',
       'recommendations_count', 'volunteer_experience', 'courses',
       'connections', 'job_role'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5649 entries, 0 to 5648
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   timestamp                   5649 non-null   object
 1   id                          5649 non-null   object
 2   name                        5649 non-null   object
 3   city                        5530 non-null   object
 4   country_code                5649 non-null   object
 5   current_company:company_id  3911 non-null   object
 6   current_company:name        4776 non-null   object
 7   position                    5649 non-null   object
 8   followers                   3806 non-null   float64
 9   about                       3514 non-null   object
 10  posts                       709 non-null    object
 11  groups                      142 non-null    object
 12  current_company             5649 non-null   object
 13  experience                  5429 non-null   object
 14  url                         5649 non-null   object
 15  people_also_viewed          4980 non-null   object
 16  educations_details          4844 non-null   object
 17  education                   5067 non-null   object
 18  avatar                      5350 non-null   object
 19  languages                   1120 non-null   object
 20  certifications              1301 non-null   object
 21  recommendations             803 non-null    object
 22  recommendations_count       803 non-null    float64
 23  volunteer_experience        749 non-null    object
 24  courses                     241 non-null    object
 25  connections                 860 non-null    float64
 26  job_role                    5649 non-null   object
dtypes: float64(3), object(24)
memory usage: 1.2+ MB

### Clean Dataset

In [7]:
df1 = df[['courses','about', 'experience','certifications','job_role']].copy()

In [8]:
df1.head()

,courses,about,experience,certifications,job_role
0,NaN,With over 7 years of extensive hands-on experi...,"[{""description"":""As a Data Engineer at AvantLi...","[{""meta"":""Issued Jun 2023 See credential"",""sub...",Data Analysis
1,NaN,NaN,"[{""description"":""Use data mining software and ...",NaN,Data Analysis
2,NaN,I caught fire with cloud computing. About eigh...,"[{""duration"":""Apr 2023 - Present 8 months"",""du...","[{""meta"":""Issued Sep 2023"",""subtitle"":""Associa...",Data Analysis
3,NaN,Hello! My name is Thomas Roussos and I am a st...,NaN,NaN,Data Analysis
4,NaN,I am an MBA in Business Analytics student who ...,"[{""description"":""Shenzhen, Guangdong, China - ...",NaN,Data Analysis

In [9]:
df1.isnull().sum()

courses           5408
about             2135
experience         220
certifications    4348
job_role             0
dtype: int64

In [10]:
# Create a new 'Skillset' column
df1['Skillset'] = df1['courses'].fillna('')+ ' '+ df1['about'].fillna('') + ' ' + df1['experience'].fillna('') + ' ' + df1['certifications'].fillna('')

In [11]:
# drop all the records with skillset as null
df1.dropna(subset = ["Skillset"], inplace =True)
df1 = df1[['Skillset', 'job_role']]
df1.shape

(5649, 2)

In [12]:
# remove special Character
df1["Skillset"] = df1["Skillset"].str.replace(r'[^a-zA-Z0-9\s]','')

C:\Users\AIMAN\AppData\Local\Temp\ipykernel_18476\2695410711.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df1["Skillset"] = df1["Skillset"].str.replace(r'[^a-zA-Z0-9\s]','')

In [13]:
df1.head()

                                            Skillset       job_role
0   With over 7 years of extensive handson experi...  Data Analysis
1    descriptionUse data mining software and arti...  Data Analysis
2   I caught fire with cloud computing About eigh...  Data Analysis
3   Hello My name is Thomas Roussos and I am a st...  Data Analysis
4   I am an MBA in Business Analytics student who...  Data Analysis

In [14]:
#write it to csv file
df1.to_csv("data/cleaned_data.csv",index = False)

In [15]:
df = pd.read_csv("data/cleaned_data.csv")
df.head()

                                            Skillset       job_role
0   With over 7 years of extensive handson experi...  Data Analysis
1    descriptionUse data mining software and arti...  Data Analysis
2   I caught fire with cloud computing About eigh...  Data Analysis
3   Hello My name is Thomas Roussos and I am a st...  Data Analysis
4   I am an MBA in Business Analytics student who...  Data Analysis

In [51]:
nlp = spacy.load("en_core_web_sm")

def extract_skills(text):
    doc = nlp(text)
    # Extract unique lemmatized tokens as skills
    #skills = list(set(token.lemma_ for token in doc if token.pos_ == "NOUN" or token.pos_ == "PROPN"))
    ner_skills = [ent.text for ent in doc.ents if ent.label_ == "SKILL"]
    print(ner_skills)
    return ner_skills

In [39]:
df1.loc[0:5,"skillset"]

0    With over 7 years of extensive hands-on experi...
1     [{"description":"Use data mining software and...
2    I caught fire with cloud computing. About eigh...
3    Hello! My name is Thomas Roussos and I am a st...
4    I am an MBA in Business Analytics student who ...
5     [{"company":"House of Providence","company_id...
Name: skillset, dtype: object

In [54]:
import spacy

# Load the spaCy model
nlp = spacy.load("en_core_web_sm")

# Example text
text = "I have experience in Python, Java, and machine learning."

# Process the text with spaCy
doc = nlp(text)

# Extract skills using NER
skills = [ent.text for ent in doc.ents if ent.label_ == "SKILL"]

# Print the extracted skills
print("Extracted Skills:", skills)

Extracted Skills: []

In [ ]:
# Apply the extract_skills function to each row in the 'Skillset' column
df['skillset'] = df['skillset'].apply(extract_skills)

In [67]:
"""Lemmatization aims to reduce a word to its base or root form, known as the lemma. The lemma represents the canonical, dictionary form of a word.
It involves considering the context of the word and converting it to its base form, which often corresponds to a valid word."""

from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

# Example text
text = "running runs ran coding, code, i "

# Tokenize the text
tokens = word_tokenize(text)

# Lemmatization
lemmatizer = WordNetLemmatizer()
lemmatized_words = [lemmatizer.lemmatize(word) for word in tokens]

# Stemming-- performes better
stemmer = PorterStemmer()
stemmed_words = [stemmer.stem(word) for word in tokens]

print("Original:", tokens)
print("Lemmatized:", lemmatized_words)
print("Stemmed:", stemmed_words)

Original: ['running', 'runs', 'ran', 'coding', ',', 'code', ',', 'i']
Lemmatized: ['running', 'run', 'ran', 'coding', ',', 'code', ',', 'i']
Stemmed: ['run', 'run', 'ran', 'code', ',', 'code', ',', 'i']

In [59]:
# don't want to seperate 1 skillds like machine learning into 2
import spacy

# Load the spaCy model
nlp = spacy.load("en_core_web_sm")

# Example text
text = "I have experience in Python, Java, and machine learning."

# Process the text with spaCy
doc = nlp(text)

# Remove stop words
filtered_tokens = [token.text for token in doc if not token.is_stop]

# Print the filtered tokens
print("Filtered Tokens (without stop words):", filtered_tokens)

Filtered Tokens (without stop words): ['experience', 'Python', ',', 'Java', ',', 'machine', 'learning', '.']

### Model

In [16]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA, IncrementalPCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import spacy
from spacy.pipeline.textcat import Config, single_label_cnn_config

In [17]:
# Convert the 'Skillset' column to string
df['Skillset'] = df['Skillset'].astype("str")
df['job_role'] = df['job_role'].astype("category")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5649 entries, 0 to 5648
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Skillset  5649 non-null   object
 1   job_role  5649 non-null   category
dtypes: category(1), object(1)
memory usage: 50.0+ KB

In [ ]:
# Remove stop words
nlp = spacy.load("en_core_web_sm")
stop_words = spacy.lang.en.stop_words.STOP_WORDS

def remove_stopwords(text):
    doc = nlp(text)
    tokens = [token.text for token in doc if token.text not in stop_words]
    return ' '.join(tokens)

df['Skillset'] = df['Skillset'].apply(remove_stopwords)

In [ ]:
# Vectorize the 'Skillset' column
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['Skillset'])

In [20]:
import joblib

In [ ]:
# Save TF-IDF matrix to a file
joblib.dump(X, 'tfidf_matrix.pkl')

In [21]:
# To load the TF-IDF matrix later
loaded_tfidf = joblib.load('tfidf_matrix.pkl')

In [22]:
from sklearn.decomposition import TruncatedSVD

n_components = 50  # Adjust this value
svd = TruncatedSVD(n_components=n_components)
X_svd = svd.fit_transform(loaded_tfidf)

In [23]:
from sklearn.preprocessing import MinMaxScaler

# Scale the features to be in the range [0, 1]
scaler = MinMaxScaler()

X_scaled = scaler.fit_transform(X_svd)

In [ ]:
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X_scaled, df['job_role'], test_size=0.2, random_state=42)

# Train the Naive Bayes model
nb.fit(X_train, y_train)

# Train classification models
# Logistic Regression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred_logreg = logreg.predict(X_test)
accuracy_logreg = accuracy_score(y_test, y_pred_logreg)

# Naive Bayes
nb = MultinomialNB()
nb.fit(X_train, y_train)
y_pred_nb = nb.predict(X_test)
accuracy_nb = accuracy_score(y_test, y_pred_nb)

# SVM
svm = SVC()
svm.fit(X_train, y_train)
y_pred_svm = svm.predict(X_test)
accuracy_svm = accuracy_score(y_test, y_pred_svm)

# KNN classifier
knn = KNeighborsClassifier(n_neighbors=5)  
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
accuracy_knn = accuracy_score(y_test, y_pred_knn)

# Print accuracy scores
print("Logistic Regression Accuracy:", accuracy_logreg)
print("Naive Bayes Accuracy:", accuracy_nb)
print("SVM Accuracy:", accuracy_svm)
print("Accuracy:", accuracy_knn)

In [26]:
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
le = LabelEncoder()
df['job_role_encoded'] = le.fit_transform(df['job_role'])

In [32]:
# Fit the pipeline on your training data
X_train = X_scaled  # Assuming 'Skillset' is the column with skills
y_train = df['job_role_encoded']   # Assuming 'job_role' is the target column

In [30]:
df['job_role_encoded'].value_counts()

0    1000
1    1000
2    1000
3    1000
4    1000
5     649
Name: job_role_encoded, dtype: int64

In [33]:
# svm model
# SVM
svm = SVC()
svm.fit(X_train, y_train)

ValueError: Found input variables with inconsistent numbers of samples: [5658, 5649]

In [ ]:
# Save the trained model and vectorizer as pickle files
with open('svm_model.pkl', 'wb') as model_file:
    pickle.dump(pipeline, model_file)

### LSTM & RNN &

In [110]:
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.metrics import accuracy_score


# Split the data
X_train, X_test, y_train, y_test = train_test_split(df['Skillset'], df['job_role'], test_size=0.2, random_state=42)

# Encode the labels
label_encoder = LabelEncoder()
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

# Tokenize the text
max_words = 1000
tokenizer = Tokenizer(num_words=max_words, oov_token="<OOV>")
tokenizer.fit_on_texts(X_train)

# Convert text to sequences
X_train_sequences = tokenizer.texts_to_sequences(X_train)
X_test_sequences = tokenizer.texts_to_sequences(X_test)

# Pad sequences to ensure uniform length
max_sequence_length = 100  # You can adjust this based on your data
X_train_padded = pad_sequences(X_train_sequences, maxlen=max_sequence_length, padding='post', truncating='post')
X_test_padded = pad_sequences(X_test_sequences, maxlen=max_sequence_length, padding='post', truncating='post')

# Build the LSTM model
model = Sequential()
model.add(Embedding(input_dim=max_words, output_dim=32, input_length=max_sequence_length))
model.add(LSTM(100))
model.add(Dense(len(label_encoder.classes_), activation='softmax'))

# Compile the model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train_padded, y_train_encoded, epochs=5, validation_data=(X_test_padded, y_test_encoded))

# Evaluate the model on test data
y_pred_probs = model.predict(X_test_padded)
y_pred = np.argmax(y_pred_probs, axis=1)
accuracy_lstm = accuracy_score(y_test_encoded, y_pred)

print("Accuracy:", accuracy_lstm)

WARNING:tensorflow:From C:\Users\AIMAN\anaconda3\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\AIMAN\anaconda3\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Epoch 1/5
WARNING:tensorflow:From C:\Users\AIMAN\anaconda3\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\AIMAN\anaconda3\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

142/142 [==============================] - 29s 126ms/step - loss: 1.8283 - accuracy: 0.1913 - val_loss: 1.7810 - val_accuracy: 0.2076
Epoch 2/5
142/142 [==============================] - 15s 108ms/step - loss: 1.7572 - accuracy: 0.2269 - val_loss: 1.7214 - val_accuracy: 0.2129
Epoch 3/5
142/142 [==============================] - 15s 103ms/step - loss: 1.6978 - accuracy: 0.2570 - val_loss: 1.6752 - val_accuracy: 0.2500
Epoch 4/5
142/142 [==============================] - 15s 104ms/step - loss: 1.7180 - accuracy: 0.2680 - val_loss: 1.8138 - val_accuracy: 0.2014
Epoch 5/5
142/142 [==============================] - 16s 116ms/step - loss: 1.7599 - accuracy: 0.2589 - val_loss: 1.7318 - val_accuracy: 0.2712
36/36 [==============================] - 5s 51ms/step
Accuracy: 0.2712014134275618

In [111]:
# Import necessary libraries
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, SimpleRNN, Dense
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score


# Tokenize and pad sequences
max_words = 1000
tokenizer = Tokenizer(num_words=max_words)
tokenizer.fit_on_texts(texts)
sequences = tokenizer.texts_to_sequences(texts)
X = pad_sequences(sequences)

# Encode labels
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(labels)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Build the RNN model
embedding_dim = 50
model = Sequential()
model.add(Embedding(input_dim=max_words, output_dim=embedding_dim, input_length=X.shape[1]))
model.add(SimpleRNN(units=50))  # You can adjust the number of units based on your dataset
model.add(Dense(units=len(np.unique(y)), activation='softmax'))

# Compile the model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Train the model
epochs = 10
model.fit(X_train, y_train, epochs=epochs, validation_data=(X_test, y_test))

# Evaluate the model
y_pred = model.predict_classes(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

NameError: name 'texts' is not defined

In [ ]:
#!pip install spacy
#!python -m spacy download en_core_web_sm

In [2]:
from flask import Flask, request, render_template
import pickle
import pandas as pd
from sklearn.svm import SVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder
from scipy.sparse import issparse

In [3]:
# Load the pre-trained SVM model and TF-IDF vectorizer
with open('svm_model.pkl', 'rb') as model_file:
    svm_model = pickle.load(model_file)

with open('tfidf_vectorizer.pkl', 'rb') as vectorizer_file:
    tfidf_vectorizer = pickle.load(vectorizer_file)

# Instantiate LabelEncoder
le = LabelEncoder()

# Load the fitted LabelEncoder from training
with open('label_encoder.pkl', 'rb') as label_encoder_file:
    le.classes_ = pickle.load(label_encoder_file)

C:\Users\AIMAN\anaconda3\lib\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator TfidfTransformer from version 1.4.0 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\AIMAN\anaconda3\lib\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator TfidfVectorizer from version 1.4.0 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\AIMAN\anaconda3\lib\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator TruncatedSVD from version 1.4.0 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\AIMAN\anaconda3\lib\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator MinMaxScaler from version 1.4.0 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\AIMAN\anaconda3\lib\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator SVC from version 1.4.0 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\AIMAN\anaconda3\lib\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator Pipeline from version 1.4.0 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\AIMAN\anaconda3\lib\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator LabelEncoder from version 1.4.0 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [11]:
user_input = ["python"]


# Make a prediction using the SVM model
prediction = svm_model.predict(user_input)

# Map the prediction to a job category or skillset (customize as needed)
#job_category = map_prediction_to_category(prediction)
predicted_label = le.inverse_transform(prediction)

TypeError: object of type 'LabelEncoder' has no len()

In [12]:
prediction

array([4])

In [16]:
le.inverse_transform([4,5])

TypeError: object of type 'LabelEncoder' has no len()

In [ ]:
y_pred_svm = svm.predict(X_test)
accuracy_svm = accuracy_score(y_test, y_pred_svm