In [1]:
import pandas as pd

In [19]:
df = pd.read_csv("data/concatenated_data.csv")

In [20]:
df.head()

,timestamp,id,name,city,country_code,current_company:company_id,current_company:name,position,followers,about,...,education,avatar,languages,certifications,recommendations,recommendations_count,volunteer_experience,courses,connections,job_role
0,2023-11-06,sheharyar-chaudhary-325b3465,Sheharyar Chaudhary,"Dallas, Texas, United States",US,avantlink,AvantLink,Data Engineer || Google Certified Data Analyst...,2000.0,With over 7 years of extensive hands-on experi...,...,"[{""degree"":""Bachelor of Science (BS)"",""end_yea...",https://static.licdn.com/aero-v1/sc/h/1c5u578i...,"[{""subtitle"":""Full professional proficiency"",""...","[{""meta"":""Issued Jun 2023 See credential"",""sub...",Umer Siddiqui “I had the privilege of working ...,9.0,NaN,NaN,NaN,Data Analysis
1,2023-11-06,byby-louise-a91456243,Byby Louise,"New York, New York, United States",US,fiscalnote,FiscalNote,Data Analyst,112.0,NaN,...,"[{""degree"":""Master's degree"",""end_year"":""2014""...",https://media.licdn.com/dms/image/C4E03AQEYsL5...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analysis
2,2023-11-06,larry-richardson-jr,Larry Richardson Jr.,"Frederick, Maryland, United States",US,ncma,National Contract Management Association (NCMA),Infrastructure as Code | Data Analysis | Data ...,243.0,I caught fire with cloud computing. About eigh...,...,"[{""degree"":""Data Analytics/Engineering"",""meta""...",https://static.licdn.com/aero-v1/sc/h/1c5u578i...,NaN,"[{""meta"":""Issued Sep 2023"",""subtitle"":""Associa...",NaN,NaN,NaN,NaN,NaN,Data Analysis
3,2023-12-13,thomas-roussos,Thomas Roussos,Massapequa,US,NaN,NaN,Student at State University of New York Colleg...,15.0,Hello! My name is Thomas Roussos and I am a st...,...,"[{""end_year"":""2018"",""start_year"":""2014"",""title...",https://media.licdn.com/dms/image/C5603AQGviES...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,Data Analysis
4,2023-12-13,oceanox,XIN OU,NaN,US,transsnetfinancial,Transsnet Financial,Risk Control Data Analyst at Transsnet Financi...,31.0,I am an MBA in Business Analytics student who ...,...,"[{""degree"":""Master of Business Administration ...",https://media.licdn.com/dms/image/C4D03AQEvZ-L...,NaN,NaN,NaN,NaN,NaN,NaN,31.0,Data Analysis

In [21]:
df['job_role'].value_counts()

Data Analysis                  1000
Manager                        1000
Project Manager                1000
Research & Development         1000
Software Engineer              1000
UI/UX designer                  649
Quatity Assurance & Testing       8
System & Network Engineer         1
Name: job_role, dtype: int64

In [22]:
df1 = df[['about', 'experience','certifications','job_role']].copy()

In [23]:
df1.head()

,about,experience,certifications,job_role
0,With over 7 years of extensive hands-on experi...,"[{""description"":""As a Data Engineer at AvantLi...","[{""meta"":""Issued Jun 2023 See credential"",""sub...",Data Analysis
1,NaN,"[{""description"":""Use data mining software and ...",NaN,Data Analysis
2,I caught fire with cloud computing. About eigh...,"[{""duration"":""Apr 2023 - Present 8 months"",""du...","[{""meta"":""Issued Sep 2023"",""subtitle"":""Associa...",Data Analysis
3,Hello! My name is Thomas Roussos and I am a st...,NaN,NaN,Data Analysis
4,I am an MBA in Business Analytics student who ...,"[{""description"":""Shenzhen, Guangdong, China - ...",NaN,Data Analysis

In [25]:
df1.isnull().sum()

about             2139
experience         221
certifications    4354
job_role             0
dtype: int64

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5658 entries, 0 to 5657
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   about           3519 non-null   object
 1   experience      5437 non-null   object
 2   certifications  1304 non-null   object
 3   job_role        5658 non-null   object
dtypes: object(4)
memory usage: 176.9+ KB

In [29]:
## we have 5650 data records
import spacy

In [33]:

# Create a new 'Skillset' column
df1['skillset'] = df1['about'].fillna('') + ' ' + df1['experience'].fillna('') + ' ' + df1['certifications'].fillna('')

In [36]:
#!pip install spacy
#!python -m spacy download en_core_web_sm

In [51]:
nlp = spacy.load("en_core_web_sm")

def extract_skills(text):
    doc = nlp(text)
    # Extract unique lemmatized tokens as skills
    #skills = list(set(token.lemma_ for token in doc if token.pos_ == "NOUN" or token.pos_ == "PROPN"))
    ner_skills = [ent.text for ent in doc.ents if ent.label_ == "SKILL"]
    print(ner_skills)
    return ner_skills

In [42]:
# drop all the records with skillset as null
df1.dropna(subset = ["skillset"])
df1.shape

(5658, 5)

In [44]:
df1["skillset"] = df1["skillset"].str.replace(r'[^a-zA-Z0-9\s]','')

C:\Users\AIMAN\AppData\Local\Temp\ipykernel_21876\2945025637.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df1["skillset"] = df1["skillset"].str.replace(r'[^a-zA-Z0-9\s]','')

In [52]:
df1.loc[0:5,"skillset"].apply(extract_skills)

[]
[]
[]
[]
[]
[]

0    []
1    []
2    []
3    []
4    []
5    []
Name: skillset, dtype: object

In [39]:
df1.loc[0:5,"skillset"]

0    With over 7 years of extensive hands-on experi...
1     [{"description":"Use data mining software and...
2    I caught fire with cloud computing. About eigh...
3    Hello! My name is Thomas Roussos and I am a st...
4    I am an MBA in Business Analytics student who ...
5     [{"company":"House of Providence","company_id...
Name: skillset, dtype: object

In [54]:
import spacy

# Load the spaCy model
nlp = spacy.load("en_core_web_sm")

# Example text
text = "I have experience in Python, Java, and machine learning."

# Process the text with spaCy
doc = nlp(text)

# Extract skills using NER
skills = [ent.text for ent in doc.ents if ent.label_ == "SKILL"]

# Print the extracted skills
print("Extracted Skills:", skills)

Extracted Skills: []

In [ ]:
# Apply the extract_skills function to each row in the 'Skillset' column
df['skillset'] = df['skillset'].apply(extract_skills)

In [67]:
"""Lemmatization aims to reduce a word to its base or root form, known as the lemma. The lemma represents the canonical, dictionary form of a word.
It involves considering the context of the word and converting it to its base form, which often corresponds to a valid word."""

from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

# Example text
text = "running runs ran coding, code, i "

# Tokenize the text
tokens = word_tokenize(text)

# Lemmatization
lemmatizer = WordNetLemmatizer()
lemmatized_words = [lemmatizer.lemmatize(word) for word in tokens]

# Stemming-- performes better
stemmer = PorterStemmer()
stemmed_words = [stemmer.stem(word) for word in tokens]

print("Original:", tokens)
print("Lemmatized:", lemmatized_words)
print("Stemmed:", stemmed_words)

Original: ['running', 'runs', 'ran', 'coding', ',', 'code', ',', 'i']
Lemmatized: ['running', 'run', 'ran', 'coding', ',', 'code', ',', 'i']
Stemmed: ['run', 'run', 'ran', 'code', ',', 'code', ',', 'i']

In [59]:
# don't want to seperate 1 skillds like machine learning into 2
import spacy

# Load the spaCy model
nlp = spacy.load("en_core_web_sm")

# Example text
text = "I have experience in Python, Java, and machine learning."

# Process the text with spaCy
doc = nlp(text)

# Remove stop words
filtered_tokens = [token.text for token in doc if not token.is_stop]

# Print the filtered tokens
print("Filtered Tokens (without stop words):", filtered_tokens)

Filtered Tokens (without stop words): ['experience', 'Python', ',', 'Java', ',', 'machine', 'learning', '.']

In [89]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA, IncrementalPCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import spacy
from spacy.pipeline.textcat import Config, single_label_cnn_config

In [77]:
df = df1[['job_role','skillset']]
df.rename(columns= {'skillset': 'Skillset'},inplace = True)

C:\Users\AIMAN\AppData\Local\Temp\ipykernel_21876\3929097957.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns= {'skillset': 'Skillset'},inplace = True)

In [78]:
# Convert the 'Skillset' column to string
df['Skillset'] = df['Skillset'].astype(str)

# Text preprocessing (remove special characters, lowercase, etc.)
df['Skillset'] = df['Skillset'].str.replace('[^a-zA-Z\s]', '').str.lower()

# Remove stop words
nlp = spacy.load("en_core_web_sm")
stop_words = spacy.lang.en.stop_words.STOP_WORDS

def remove_stopwords(text):
    doc = nlp(text)
    tokens = [token.text for token in doc if token.text not in stop_words]
    return ' '.join(tokens)

df['Skillset'] = df['Skillset'].apply(remove_stopwords)

# Vectorize the 'Skillset' column
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['Skillset'])

C:\Users\AIMAN\AppData\Local\Temp\ipykernel_21876\1614861931.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Skillset'] = df['Skillset'].astype(str)
C:\Users\AIMAN\AppData\Local\Temp\ipykernel_21876\1614861931.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Skillset'] = df['Skillset'].str.replace('[^a-zA-Z\s]', '').str.lower()
C:\Users\AIMAN\AppData\Local\Temp\ipykernel_21876\1614861931.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Skillset'] = df['Skillset'].str.replace('[^a-zA-Z\s]', '').str.lower()
C:\Users\AIMAN\AppData\Local\Temp\ipykernel_21876\1614861931.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Skillset'] = df['Skillset'].apply(remove_stopwords)

In [91]:
""""""

from sklearn.decomposition import TruncatedSVD

n_components = 50  # Adjust this value
svd = TruncatedSVD(n_components=n_components)
X_svd = svd.fit_transform(loaded_tfidf)

In [93]:
from sklearn.preprocessing import MinMaxScaler

# Scale the features to be in the range [0, 1]
scaler = MinMaxScaler()

X_scaled = scaler.fit_transform(X_svd)

In [94]:
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X_scaled, df['job_role'], test_size=0.2, random_state=42)

# Train the Naive Bayes model
nb.fit(X_train, y_train)

# Train classification models
# Logistic Regression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred_logreg = logreg.predict(X_test)
accuracy_logreg = accuracy_score(y_test, y_pred_logreg)

# Naive Bayes
nb = MultinomialNB()
nb.fit(X_train, y_train)
y_pred_nb = nb.predict(X_test)
accuracy_nb = accuracy_score(y_test, y_pred_nb)

# SVM
svm = SVC()
svm.fit(X_train, y_train)
y_pred_svm = svm.predict(X_test)
accuracy_svm = accuracy_score(y_test, y_pred_svm)

# Print accuracy scores
print("Logistic Regression Accuracy:", accuracy_logreg)
print("Naive Bayes Accuracy:", accuracy_nb)
print("SVM Accuracy:", accuracy_svm)

C:\Users\AIMAN\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

ValueError: Negative values in data passed to MultinomialNB (input X)

In [84]:
import joblib

# Save TF-IDF matrix to a file
joblib.dump(X, 'tfidf_matrix.pkl')

['tfidf_matrix.pkl']

In [81]:
!pip install joblib

Requirement already satisfied: joblib in c:\users\aiman\anaconda3\lib\site-packages (1.1.1)

In [85]:
# To load the TF-IDF matrix later
loaded_tfidf = joblib.load('tfidf_matrix.pkl')